/**   
* @Title: duang页面样式
* @Description: ${todo}(用一句话描述该文件做什么) 
* @author 姚楚霞
* @date 2015_11_01
* @version V1.0   
*/

h1
    color #000
    font-family 'STHeiTi', 'Microsoft YaHei', 'HeiTi'
    font-weight normal
    margin 0 auto
    padding 20px 0
    border-bottom 1px solid white
    box-shadow inset 0 -1px #ccc  
    font-size 30px
.sound_article
    margin 20px auto
    font-size 0
    text-align center 
    .sound
        display inline-block
        width 50%
        font-size 12px 
        text-align center
        position relative
        .avator
            display block
            margin-top 100px
            cursor pointer
            h2
                font-weight normal
                color $orange
            img
                border-radius 100%
                overflow hidden
                display inline-block 
                width 100px
                height 100px
        .sound_content
            position absolute
            width 200px 
            height 100px
            box-sizing border-box
            p
                position relative
                margin 0
            svg
                position relative
                left 0
                top 0    
                
.sound_article #sound_1 .sound_content
    left 80px
    top 0
    padding 25px 60px 20px 30px

.sound_article #sound_2 .sound_content
    left 50%
    margin-left -100px
    top -10px 
    padding 25px
       
                            
                    
        
    

    
    
    
