/**   
* @Title: duang页面样式
* @Description: ${todo}(用一句话描述该文件做什么) 
* @author 姚楚霞
* @date 2015_11_01
* @version V1.0   
*/

h1
	width 800px
	color block
	font-family 'STHeiTi', 'Microsoft YaHei', 'HeiTi'
	font-weight normal
	margin 0 auto
	padding 20px 0
	border-bottom 1px solid white
	box-shadow inset 0 -1px #ccc
	
.sound_