/**   
* @Title: duang页面样式
* @Description: ${todo}(用一句话描述该文件做什么) 
* @author 姚楚霞
* @date 2015_11_01
* @version V1.0   
*/


h2
    color #000
    font-family $font_family_serif
    font-weight normal
    margin 0 auto
    padding 20px 0
    border-bottom 1px solid #fff
    box-shadow inset 0 -1px #ccc  
    font-size $font_size_h2
.sound_article
    margin 20px auto
    font-size 0
    text-align center 
    .sound
        display inline-block
        width 50%
        font-size 12px 
        text-align center
        position relative
        .avator
            display block
            margin-top 100px
            cursor pointer
            transition ease 0.8s;
            h5
                font-size $font_size_h5
                font-weight normal
                color $orange
            img
                border-radius 100%
                overflow hidden
                display inline-block 
                width 100px
                height 100px
.sound_content
    position absolute
    color $orange
    
    
