/**   
* @Title: 页面样式
* @Description: ${todo}(用一句话描述该文件做什么) 
* @author 姚楚霞
* @date 2015-11-01
* @version V1.0   
*/

// 使用nib模块
@import 'nib'

//  引用变量声明文件
@import 'variables'

//重置 css reset
@import 'reset'
global-reset()

//引用duang页面样式
@import 'duang'

